ARRAY_NAME="Greenplum Standalone"
SEG_PREFIX=gpseg
PORT_BASE=6000
declare -a DATA_DIRECTORY=({% for dir in gp_segment_data_dirs %}{{ dir }} {% endfor %})
MASTER_HOSTNAME={{ inventory_hostname }}
MASTER_DIRECTORY={{ gp_master_data_dir }}
MASTER_PORT=5432
MASTER_DATA_DIRECTORY={{ gp_master_data_dir }}/gpseg-1
TRUSTED_SHELL=ssh
CHECK_POINT_SEGMENTS=8
ENCODING=UNICODE